<%= simple_fields_for toy_supplies do |toy| %>
	<%= f.association :toy %>
	<%= f.input :quantity %>
	<%= f.button :submit, "Create Toy Library", class: "btn btn-primary" %>
	<%= link_to "Cancel", toy_libraries_path, class: "btn btn-danger" %>
<% end %>