<h1>Add/Remove Toy Supply</h1>
<div class="row">
    <div class="col">
        <%= link_to "Add/Remove Toy Supply", new_toy_library_toy_supply_path, class: "btn btn-primary" %>
        <br>
        <br>
        <%= link_to "Update Toy Supplies", new_toy_library_toy_supply_path, class: "btn btn-primary" %>
    </div>
</div>

