<body background="background.jpeg">
<div class="jumbotron">
  <h1 class="display-3"><b>Welcome!</b></h1>
  <p class="lead">
      Current Date: <%= @current_date %>
  </p>
  <div class = "col-xs-1" align = "center">
    <div class="row">
  	   <div class="col-4">
  		  <%= link_to "Log In as Admin", new_admin_session_path, class: "btn btn-lg btn-success" %>
  	   </div>
  	   <div class="col-4">
  		  <%= link_to "Log In as Organizer", new_organizer_session_path, class: "btn btn-lg btn-success" %>
  	   </div>
       <div class='col-4'>
         <%= link_to "Donations", new_donation_path, class: "btn btn-lg btn-success"  %>
       </div>
    </div>
  </div>
</div>
</body>