<%= simple_form_for organizer do |f| %>
    <%= f.input :name, required: true %>
    <%= f.input :email, required: true %>
    <%= f.input :password, required: true %>
    <%= f.input :password_confirmation, required: true %>
    <%= f.button :submit, "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", organizers_path, class: "btn btn-link" %>
<% end %>