<div class="row">
    <div class="col">
        <%= link_to new_organizer_path, class: "btn btn-primary" do %>
            <i class="glyphicon glyphicon-plus"></i>Add Organizers
        <% end %>
    </div>
</div>

<div class="row">
    <div class="col">
        <% if @organizers.blank? %>
            <p>
                <div class="alert alert-info" role="alert">
                    No organizers yet. Add one now!
                </div>
            </p>
        <% else %>
            <p class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <th>Name</th>
                        <th>Email</th>
                        <th></th>
                    </thead>
                    <tbody>
                        <% @organizers.each do |organizer| %>
                            <tr>
                                <td>
                                    <%= organizer.name %>
                                </td>
                                <td>
                                    <%= organizer.email %>
                                </td>
                                <td>
                                	<%= link_to "Edit", edit_organizer_path(organizer), class: "btn btn-info" %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </p>
        <% end %>
    </div>
</div>