<%= simple_form_for donation do |f| %>
	<div class="donations">
		<%= f.association :toy_library %>
		<%= f.simple_fields_for :donation_items do |donation_item| %>
		<%= render 'donation_item_fields', :f => donation_item %>
		<% end %>
	</div>
	<div id="links">
		<%= link_to_add_association 'Add Donation', f, :donation_items, class: "btn btn-primary" %>
		<%= f.button :submit, "Save", class: "btn btn-primary" %>
	</div>
<% end %>