<h1>Donation</h1>

<%= link_to "Add Donation", new_donation_path, class: "btn btn-primary" %>

<div class="row">
    <div class="col">
        <% if @donations.blank? %>
            <p>
                <div class="alert alert-info" role="alert">
                    No donations yet. Add one now!
                </div>
            </p>
        <% else %>
            <p class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <th>Library</th>
                        <th>Toy</th>
                        <th>Quantity</th>
                    </thead>
                    <tbody>
                        <% @donations.each do |donation| %>
                            <tr>
                                <td>
                                    <%= toy_library.name %>
                                </td>
                                <td>
                                    <%= donation.toy %>
                                    
                                </td>
                                <td>
                                	<%= donation.quantity %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </p>
        <% end %>
    </div>
</div>
