<%#= simple_form_for @post, url: posts_path, method: :post do |f| %>
<%= simple_form_for toy_library do |f| %>
	<%= f.input :name %>
	<%= f.association :organizer %>
	<%= f.input :status, collection: ['PENDING', 'ACTIVE', 'CLOSED'] %>
	<%= f.button :submit, "Create Toy Library", class: "btn btn-primary" %>
	<%= link_to "Cancel", toy_libraries_path, class: "btn btn-link" %>
<% end %>