<% if admin_signed_in? %>
	<div class="row">
		<div class="col">
			<%= link_to "Add Toy Library", new_toy_library_path, class: "btn btn-primary" %>
		</div>
	</div>
<% elsif organizer_signed_in? %>
	<div class = "row">
		<div class="col">
			<h5>My Libraries</h5>
		</div>
	</div>
<% end %>


<div class="row">
	<div class="col">
		<% if @toy_libraries.blank? %>
			<p>
				<div class="alert alert-info" role="alert">
					No Toy Libraries yet.
				</div>
			</p>
		<% else %>
			<p>
				<div class="table-responsive">
				<table class="table table-striped">
					<thead>
						<th>Name</th>
						<th colspan = "5"></th>
					</thead>
					<tbody>
						<% @toy_libraries.each do |toy_library| %>
							<tr>
								<td>
									<%= toy_library.name %>
								</td>
								<% if admin_signed_in? %>
									<td>
										<% if toy_library.status == 'ACTIVE' %>
											<%= link_to "Add/Remove Toy Supply", new_toy_library_toy_supply_path(toy_library), class: "btn btn-primary" %>
										<% else %>
										<% end %>
									</td>
									<td>
										<%= link_to "Show", toy_library_path(toy_library), class: "btn btn-primary" %>
									</td>
									<td>
										<%= link_to "Edit", edit_toy_library_path(toy_library), class: "btn btn-info" %>
									</td>
									<td>
										<% if toy_library.status == 'ACTIVE' %>
											<%= link_to "Close", toy_library_path(toy_library), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you to close?" } %>
										<% else %>
											<%= link_to "Open", toy_library_path(toy_library), method: :delete, class: "btn btn-success", data: { confirm: "Are you sure to open?" } %>
									</td>
									<% end %>
								<% elsif organizer_signed_in? %>
									<td>
										<%= link_to "Add/Remove Toy Supply", new_toy_library_toy_supply_path(toy_library), class: "btn btn-primary" %>
									</td>
									<td>
										<%= link_to "Request Toys", toy_request_path(toy_library), class: "btn btn-info" %>
									</td>
									<td>
										<%= link_to "Show", toy_library_path(toy_library), class: "btn btn-success" %>
									</td>
									<td>
										<%= link_to "Edit", edit_toy_library_path(toy_library), class: "btn btn-warning" %>
									</td>
								<% end %>
							</td>
						<% end %>
					</tbody>
				</table>
			</div>
			</p>
		<% end %>
	</div>
</div>