<div class="row">
	<div class="col">
		<h6>
			<strong> Name: </strong> <%= @toy_library.name %> <br> <strong>Organizer :</strong> <%= @toy_library.organizer.name %> <br> <%= @toy_library.status %>
		</h6>
		<h6>
			<%= link_to "Edit", edit_toy_library_path %> | <%= link_to "Back", toy_libraries_path %>
		</h6>
		<h2>
			Toy Supplies <br> <%= link_to "Add/Remove Toy Supply", toy_library_path(@toy_library), class: "btn btn-primary" %>
			<% if @toy_supplies.blank? %>
				<div class="alert alert-info" role="alert">
					<h5>No Supplies yet.</h5>
				</div>
			<% end %>
		</h2>
		<h2>
			Toy Requests <br>
			<% if @toy_requests.blank? %>
				<div class="alert alert-info" role="alert">
					<h5>No Toy Requests yet.</h5>
				</div>
			<% end %>
		</h2>
	</div>
</div>