<%= f.simple_fields_for toy_request_item do |toy_request_item| %>
    <%= render 'toy_request_item_fields', :f => toy_request_item %>
    <%= link_to_add_association 'Add Toy', f, :toy_request_items %>
    <%= link_to "Cancel", toy_requests_path, class: "btn btn-link" %>
<% end %>