<div class="nested-fields toy-request-item-fields">
  <div class="toy_from_list">
    <%= f.association :toy, :collection => Toy.all(:order => 'name'), :prompt => 'Choose an existing toy' %>
  </div>
  <%= link_to_add_association 'or create a new toy', f, :toy %>
  <%= link_to_remove_association "remove toy", f %>
</div>