<h3>Toy Requests</h3>

<div class="row">
    <div class="col">
        <% if @toy_requests.blank? %>
            <p>
                <div class="alert alert-info" role="alert">
                    No requests yet.
                </div>
            </p>
        <% else %>
            <p class ="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <th><b>Request for</b></th>
                        <th>Requested Toys</th>
                        <th><b>Last Updated At</b></th>
                        <th></th>
                    </thead>
                    <tbody>
                        <% @toy_requests.each do |toyrequest| %>
                            <tr>
                                <td>
                                    <%= toy_library.name %>
                                </td>
                                <td>
                                    <%= toy_request_items %>
                                </td>
                                <td></td>
                                <td>
                                	<%= link_to "Delete", toy_request_path(toy_request), method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete?" } %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </p>
        <% end %>
    </div>
</div>