<!DOCTYPE html>
<html>
  <head>
    <title>Philippine Toy Library</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <% if admin_signed_in? %>
              <li class="nav-item navbar-text text-muted">
                Logged in as <b>Admin</b>
              </li> 
              <li class="nav-item" style="margin-left: 10px">
                <%= link_to "Log out", destroy_admin_session_path, method: :delete, class: "btn btn-danger" %>
              </li>
            <% elsif organizer_signed_in? %>
              <li class="nav-item navbar-text text-muted">
                Logged in as <b>Organizer</b>
              </li>
              <li class="nav-item" style="margin-left: 10px">
                <%= link_to "Log out", destroy_organizer_session_path, method: :delete, class: "btn btn-danger" %>
              </li>
            <% end %>
          </ul>
          <h3>
                <%= link_to "Philippine Toy Library", root_path, class: " nav-link text-muted"%>
          </h3>
          <ul class = "nav nav-pills float-left">
              
              <% if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to "Organizers", organizers_path, class: "nav nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Toy Libraries", toy_libraries_path, class: "nav nav-link" %>
              </li>
              <% elsif organizer_signed_in? %>
              <li class = "nav-item">
                <%= link_to "My Toy Libraries", toy_libraries_path, class: "nav nav-link" %>
              </li>
              <li class = "nav-item">
                <%= link_to "My Requests", toy_requests_path, class: "nav nav-link" %>
              </li>
              <% end %>
            </ul>
          </div>
        </nav>

        <%= yield %>
      </div>
          
      </div>
  </body>
</html>
